@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    color: #fff;
    background: #333;
}

.container{
    background-image: url('../img/background.jpeg');
    background-size: cover;
    height: 100vh;
    position: relative;
}

.inner-container{
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 15rem;
}
.inner-container h1 {
    font-family: 'Mountains of Christmas', cursive;
    font-size: 5rem;
}

.countdown{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.countdown div{
    padding: 0.6rem;
    border: 1px solid #FFF;
    border-radius: 5px;
    margin: 0.3rem;
    background-color: rgb(158, 18, 18);
}

@media (max-width: 568px){
    .inner-container h1{
        padding: 5rem;
        font-size: 3rem;
    }

    .countdown{
        flex-direction: column;
    }

}